.btn {
  padding: 12px 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  border-radius: 6px;
  background-color: $brand-blurple-600;
  color: #FFFFFF;
  border: none;
  width: 100%;

  &-secondary {
    background-color: #F8F9FC;
    color: $brand-neutrals-600;

    &:active, &:focus, &:hover {
      background-color: darken($brand-neutrals-100, 5%);
      color: #364259;
    }
  }
  &-primary {
    background-color: $brand-blurple-500;

    &:active, &:focus, &:hover {
      background-color: darken($brand-blurple-500, 5%);
      color: #FFFFFF;
    }
  }
  &-plain {
    background-color: #fff;
    color: $brand-neutrals-600;

    &:active, &:focus, &:hover {
      background-color: #fff;
      color: $brand-neutrals-600;
    }
  }
  &-outline {

    &-primary {
      color: #000000;

      &:hover {
        color: #FFFFFF;
      }
    }
  }
  &-lg {
    padding: 18px 64px;
  }
  &-sm {
    padding: 10px 16px;
  }
}